<!DOCTYPE html>
<html>
  <head>
    <title>FYP - Attendance</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="header">
      <h1>Facial Recognition Attendance System</h1>
      <h3>Attendance for <span id="currentDate"></span></h3>

      <button id="recordAttendanceBtn">Record New Attendance</button>
    </div>

    <div class="attendance-container">
      <h2>Attendance Data</h2>
      <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>ID Number</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody id="attendanceData">
          <!-- Attendance data will be dynamically added here -->
        </tbody>
      </table>
      <button id="downloadButton">Download Attendance</button>
    </div>

    <!-- Include Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Your JavaScript code using Axios -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
